<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden w-full">
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <div class="flex align-items-center">
                <a class="flex align-items-center" href="#">
                    <img src="../../../assets/logo.png" alt="Rememba logo" height="100" class="mr-2">
                </a>
                <nav class="flex align-items-center ml-4">
                    <a pRipple class="flex align-items-center justify-content-center m-0 md:ml-4 px-3 py-2 text-900 font-medium line-height-3 btn-primary">
                        ¿Que es Rememba?
                    </a>
                    <a pRipple class="flex align-items-center justify-content-center m-0 md:ml-4 px-3 py-2 text-900 font-medium line-height-3">
                        Planes
                    </a>
                    <a pRipple class="flex align-items-center justify-content-center m-0 md:ml-4 px-3 py-2 text-900 font-medium line-height-3">
                        Contacto
                    </a>
                </nav>
            </div>
            <div class="flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <a href="#" class="text-900 font-medium">Login</a>
            </div>
        </div>
    </div>
</div>
