<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex justify-content-center">
        <div class="col-12 md:col-8 lg:col-6">
            <div class="card">
                <h2 class="text-center text-primary mb-4">CONTÁCTANOS</h2>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nombre" class="font-medium">Nombre</label>
                        <input id="nombre" type="text" pInputText class="py-3 px-2 text-lg" />
                    </div>
                    <div class="p-field">
                        <label for="email" class="font-medium">Correo</label>
                        <input id="email" type="text" pInputText class="py-3 px-2 text-lg" />
                    </div>
                    <div class="p-field">
                        <label for="asunto" class="font-medium">Asunto</label>
                        <input id="asunto" type="text" pInputText class="py-3 px-2 text-lg" />
                    </div>
                    <div class="p-field">
                        <label for="mensaje" class="font-medium">Mensaje</label>
                        <textarea id="mensaje" pInputTextarea rows="6" autoResize="true" class="py-3 px-2 text-lg"></textarea>
                    </div>
                    <button pButton pRipple label="Enviar Mensaje" icon="pi pi-send" class="w-full text-white bg-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
    <div class="p-6 shadow-2 lg:w-6" style="border-radius: 12px;background-color: rgba(255,255,255,.1)">
        <div class="grid justify-content-center">
            <div class="col-12 md:col-12">
                <div class="p-fluid">
                    <div class="field">
                        <label for="Nombre" class="font-medium">Nombre</label>
                        <input id="Nombre" type="text" placeholder="Jane" pInputText class="py-3 px-2 text-lg">
                    </div>
                    <div class="field">
                        <label for="email" class="font-medium">Correo</label>
                        <input id="email" type="text" placeholder="email@email.com" pInputText class="py-3 px-2 text-lg"> 
                    </div>
                    <div class="field">
                        <label for="asunto" class="font-medium">Asunto</label>
                        <input id="asunto" type="text" placeholder="asunto" pInputText class="py-3 px-2 text-lg"> 
                    </div>
                    <div class="field">
                        <label for="message" class="font-medium">Mensaje</label>
                        <textarea id="message" pInputTextarea rows="10" [autoResize]="true" class="py-3 px-2 text-lg"></textarea> 
                    </div>
                    <div class="flex justify-content-center">
                        <button pButton pRipple label="Enviar Mensaje" icon="pi pi-send" class="w-auto"></button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
